#palette-section{
    display:flex;
    flex-flow:row nowrap;
    gap:15px;
    height:750px;
    width:100%;
}

.color-pair{
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    justify-content:center;
    gap:15px;
    height:100%;
    width:25%;
}

.color-pair__top, .color-pair__bottom{
    height:50%;
    width:100%;
    border-radius:20px;
    transition: 1.2s linear ease-in
}