*{
    font-family:monospace, sans-serif;
    box-sizing: border-box;
}

#palette-section{
    display:flex;
    flex-flow:row nowrap;
    gap:15px;
    height:700px;
    width:100%;
}

.color-pair{
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    justify-content:center;
    gap:15px;
    height:100%;
    width:25%;
}

.color-pair__top, .color-pair__bottom{
    height:50%;
    width:100%;
    border-radius:20px;
    transition: 1.2s linear ease-in;
}

.color{
    transition: 1s linear;
    display:flex;
    justify-content: center;
    align-items: center;
}

.filled{
    display:none;
    text-align:center;
    text-justify: center;
    height:5vh;
    width:10vw;
    font-size:1.8vw;
    background-color:gray;
    color:whitesmoke;
    padding:5px;
    cursor:pointer;
}

.color:hover .hex--display{
    display:block;
}

h1{
    margin:15px auto;
    text-align:center;
}

textarea{
    border:none;
    display:none;
}